<div class="CubeContainer" v-hammer:pan="onPan" v-hammer:panstart="onPanStart">
	<div class="Cube" v-bind:style="{
				transform: `translateZ(-300px)${transformStyle !== null ? transformStyle : ''}`,
			}">
		<div class="CubeSide CubeSide--top">
			<img src="../../assets/images/story1.png" draggable="false" class="CubeSide__image" />
			<div class="CubeSideContent">
				<div class="CubeSideContent__header">
					Was macht ein Collaboration Manager?
				</div>
				<div class="CubeSideContent__text">
					Anika und Yannic erklären, wieso die Rolle des
					Collaboration Managers als Brücke von agilen Projekten
					in klassische Strukturen notwendig für den Erfolg eines
					agilen Projekts ist.
				</div>
				<a class="CubeSideContent__button" href="https://www.projektionisten.de/stories/was-macht-ein-collaboration-manager"
					target="_blank">Entdecken</a>
			</div>
		</div>
		<div class="CubeSide CubeSide--right">
			<img src="../../assets/images/story2.png" draggable="false" class="CubeSide__image" />
			<div class="CubeSideContent">
				<div class="CubeSideContent__header">
					d-E-mand Forschungsprojekt – Die Vorhersage von
					Ladebedarf bei Elektromobilität
				</div>
				<div class="CubeSideContent__text">
					Wir wollen Grundlagen für die Bedienung des zukünftigen
					Ladebedarfs von Elektrofahrzeugen schaffen.
				</div>
				<a class="CubeSideContent__button"
					href="https://www.projektionisten.de/stories/d-e-mand-forschungsprojekt-die-vorhersage-von-ladebedarf-bei-elektromobilitat"
					target="_blank">Entdecken</a>
			</div>
		</div>
		<div class="CubeSide CubeSide--left">
			<img src="../../assets/images/story3.png" draggable="false" class="CubeSide__image" />
			<div class="CubeSideContent">
				<div class="CubeSideContent__header">
					Native Features für Web-Apps. Wie Android Widgets mit
					Cordova umgesetzt werden.
				</div>
				<div class="CubeSideContent__text">
					Unser Experte für Agile Softwareentwicklung Patrick
					erklärt, wie die Vorteile nativer Apps auch in Web Apps
					umgesetzt werden können.
				</div>
				<a class="CubeSideContent__button" href="https://www.projektionisten.de/stories/android-widget-mit-cordova"
					target="_blank">Entdecken</a>
			</div>
		</div>
		<div class="CubeSide CubeSide--back">
			<img src="../../assets/images/story4.png" draggable="false" class="CubeSide__image" />
			<div class="CubeSideContent">
				<div class="CubeSideContent__header">
					"Agil, ist das nicht nur gesunder Menschenverstand?"
				</div>
				<div class="CubeSideContent__text">
					Über 20 Jahre Projekterfahrung haben uns gelehrt, dass
					komplexe Herausforderungen am besten mit einer agilen
					Herangehensweise gemeistert werden können. Unser
					Geschäftsführer Martin spricht über die Vorteile des
					agilen Arbeitens und erklärt, weshalb kein digitales
					Projekt mehr anders umgesetzt werden sollte.
				</div>
				<a class="CubeSideContent__button"
					href="https://www.projektionisten.de/stories/agil-ist-das-nicht-nur-gesunder-menschenverstand"
					target="_blank">Entdecken</a>
			</div>
		</div>
		<div class="CubeSide CubeSide--bottom">
			<img src="../../assets/images/story5.jpeg" draggable="false" class="CubeSide__image" />
			<div class="CubeSideContent">
				<div class="CubeSideContent__header">
					@projektionisten – Folgt uns auf Instagram!
				</div>
				<div class="CubeSideContent__text">
					Auf Instagram geben wir euch spannende Einblicke in
					unseren Arbeitsalltag. Außerdem könnt ihr uns noch
					besser kennenlernen und einen Blick hinter die Kulissen
					werfen. Schaut doch mal vorbei!
				</div>
				<a class="CubeSideContent__button" href="https://www.instagram.com/projektionisten/" target="_blank">Entdecken</a>
			</div>
		</div>
		<div class="CubeSide CubeSide--front">
			<img src="../../assets/images/story6.png" draggable="false" class="CubeSide__image" />
			<div class="CubeSideContent">
				<div class="CubeSideContent__header">
					Das macht unseren Design-Prozess erfolgreich
				</div>
				<div class="CubeSideContent__text">
					Auf diese Aspekte sind wir in unserem Design-Workflow
					bei den PROJEKTIONISTEN® besonders stolz:
				</div>
				<a class="CubeSideContent__button"
					href="https://www.projektionisten.de/stories/das-macht-unseren-design-prozess-erfolgreich" target="_blank">Entdecken</a>
			</div>
		</div>
	</div>
</div>
